*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#eef7ff;
    color:#333;
}

header{
    background:#0077b6;
    color:white;
    text-align:center;
    padding:30px;
}

.container{
    max-width:900px;
    margin:auto;
    padding:20px;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
    margin-bottom:20px;
}

.card h2{
    margin-bottom:15px;
    color:#0077b6;
}

label{
    display:block;
    margin-top:15px;
    font-weight:bold;
}

input{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:8px;
}

button{
    width:100%;
    margin-top:20px;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#0096c7;
    color:white;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#0077b6;
}

#resultado{
    margin-top:20px;
    padding:15px;
    background:#dff4ff;
    border-radius:10px;
    font-size:18px;
    text-align:center;
}

.info{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.info h2{
    color:#0077b6;
    margin-bottom:10px;
}

.info ul{
    padding-left:20px;
}

.info li{
    margin:10px 0;
}

footer{
    text-align:center;
    padding:20px;
    background:#0077b6;
    color:white;
    margin-top:20px;
}

@media(max-width:600px){
    header h1{
        font-size:24px;
    }
}
